{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
<form id="form_connexion" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3" >
            <p style="color:white;text-align: center">Vous êtes déjà connecter en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}" style="text-decoration: underline;font-weight: bold">Logout</a></p>
        </div>
    {% endif %}

    {# <img class="img_ancre" src="{{ asset('img/security_icon/ancre - Copie.png')}}"> #}
    <img class="img_logo_connexion" src="{{ asset('img/security_icon/logo.png')}}">
    <h1 id="titre_connexion" class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail"></label>
    <input type="email" value="{{ last_username }}" placeholder="Email..." name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword"></label>
    <input type="password" placeholder="Mot de passe..." name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button id="button_connexion" class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
    <a class="lien_inscription" href="{{ path('app_register') }}">S'inscrire</a>
</form>
    </div>
{% endblock %}
