{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}

    <div  id="modify_content">

        {% for message in app.flashes('message') %}
            <h2 style="color: green;">{{ message }}</h2>
        {% endfor %}


        <div id="modif_img">
            <img id="avatar" src="{{ asset('img/avatar/'~user.avatar) }}">
            <button id="button_modif_img">Modifier l'avatar du profil</button>
        </div>


        {{ form_start (form,{'action': path('app_modify')}) }}

        <div>
            {{  form_label(form.email)}}
            {{  form_widget(form.email,{'value':user.email,'disabled':"disabled"})}}
        </div>
        <div>
            {{  form_label(form.pseudo )}}
            {{  form_widget(form.pseudo,{'value':user.pseudo} )}}
        </div>
        <div>
            {{  form_label(form.firstname,'Prénom' )}}
            {{ form_widget(form.firstname,{'value':user.firstname} )}}
        </div>
        <div>
            {{  form_label(form.lastname,'Nom' )}}
            {{  form_widget(form.lastname,{'value':user.lastname} )}}
        </div>
        <div>
            {{  form_label(form.birthday,'Date de naissance' )}}
            {{ form_widget(form.birthday.day,   {'attr':{'placeholder':'Jour' } })}}
            {{ form_widget(form.birthday.month, {'attr':{'placeholder':'Mois' } })}}
            {{ form_widget(form.birthday.year,  {'attr':{'placeholder':'Année' } })}}
        </div>


        <button type="submit">Sauvegarder</button>

        {{ form_end(form) }}

        <button id="modif_mdp">Modifier le mot de passe</button>
        <div>
            <a href="{{ path("user_profil") }}">Retour au profil</a>
        </div>
    </div>

    <div id="popup" style="visibility: hidden">

        <form id="avatar_form" method="POST" action="">
            <div class="close">
                <img  class="close-img" src="{{ asset('img/avatar/times-solid.svg' )}}">
            </div>

            <ul>
                <li><input type="radio" id="cb1" name="avatar" value="image_avatar.jpg"/>
                    <label for="cb1"  ><img src="{{ asset('img/avatar/image_avatar.jpg' )}}" /></label>
                </li>
                <li><input type="radio" id="cb2"  name="avatar" value="image_avatar2.jpg"/>
                    <label for="cb2"  ><img src="{{ asset('img/avatar/image_avatar2.jpg' )}}" /></label>
                </li>
                <li><input type="radio" id="cb3" name="avatar"  value="image_avatar3.jpg"/>
                    <label for="cb3" ><img src="{{ asset('img/avatar/image_avatar3.jpg' )}}" /></label>
                </li>
                <li><input type="radio" id="cb4" name="avatar"  value="image_avatar4.jpg"/>
                    <label for="cb4" ><img src="{{ asset('img/avatar/image_avatar4.jpg' )}}" /></label>
                </li>
            </ul>

            <button type="submit">Changer l'avatar</button>
        </form>
    </div>

    <div id="popup_mdp">

        {{ form_start (pwd,{'action': path('app_modify'), 'attr': {id:'pwd_modify_form'}}) }}

        <div class="close">
            <img class="close-img" src="{{ asset('img/avatar/times-solid.svg' )}}">
        </div>

        <h2>Modifier le mot de passe</h2>
        <div>
            <label for="actual_pwd">Mot de passe actuel</label>
            <input type="password" name="actual_pwd" required>
        </div>
        <div>
            {{ form_label(pwd.password.first) }}
            {{ form_widget(pwd.password.first) }}
            {{ form_label(pwd.password.second) }}
            {{ form_widget(pwd.password.second) }}
        </div>

        {{ form_errors(pwd.password) }}
        {{ form_errors(pwd.password.first) }}

        {% if error is defined %}
            <p id="error">{{ error }}</p>
        {% endif %}

        <button type="submit">Valider</button>

        {{ form_end(pwd) }}

    </div>


    <script>

        $(document).ready(function() {

            window.onload=function()   {
                $("#popup").attr("style",'visibility:visible');
                $('#popup').hide();
            }

            $('#user_registration_form_birthday_day option[value='+parseInt({{ user.birthday|date('d') }})+']').attr("selected","selected")
            $('#user_registration_form_birthday_month option[value='+parseInt({{ user.birthday|date('m') }})+']').attr("selected","selected")
            $('#user_registration_form_birthday_year option[value={{ user.birthday|date('Y') }}]').attr("selected","selected")


            $('#button_modif_img').click(function(){
                $	('html,body').animate({scrollTop: $("#popup").offset().top}, 'slow'      )
                $("#popup").fadeIn('500');

                if(document.body.clientWidth>600){
                    $('body').css('overflow', 'hidden');
                }
            });

            $('.close-img').click(function(){
                $("#popup").fadeOut('500');
                $("#popup_mdp").fadeOut('500');
                $('body').css('overflow', 'auto');
            });

            {% if error is not defined %}
                $('#popup_mdp').toggle();
            {% endif %}

            $('#modif_mdp').click(function(){
                $	('html,body').animate({scrollTop: $("#popup_mdp").offset().top}, 'slow'      );
                $("#popup_mdp").fadeIn('500');

                if(document.body.clientWidth>600){
                    $('body').css('overflow', 'hidden');
                }
            });



        });
    </script>



{% endblock %}

