{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">

    {{ form_start (form,{'action': path('app_register'),'attr':{'class':'form_inscription' } }) }}


    <img class="img_logo_inscription" src="{{ asset('img/security_icon/logo.png')}}">

    <div class="inscription_champ">

            {{ form_widget(form.firstname, {'attr':{'class':'prenom_inscription','placeholder':'Prénom...'}} )}}

            {{  form_widget(form.lastname, {'attr':{'class':'nom_inscription','placeholder':'Nom...'}} )}}

            {{  form_widget(form.email, {'attr':{'class':'email_inscription','placeholder':'Email...'}})}}

            {{  form_widget(form.pseudo, {'attr':{'class':'pseudo_inscription','placeholder':'Pseudo...'}} )}}
    </div>
    <div >
        <label class="anniversaire_inscription">Date de naissance</label>
        {{ form_widget(form.birthday.day,   {'attr':{'placeholder':'Jour' } })}}
        {{ form_widget(form.birthday.month, {'attr':{'placeholder':'Mois' } })}}
        {{ form_widget(form.birthday.year,  {'attr':{'placeholder':'Année' } })}}
    </div>
    <div>

         {{ form_widget(form.password.first, {'attr':{'placeholder':'Mot de passe','class':'mot_de_passe' } }) }}
         {{ form_widget(form.password.second, {'attr':{'placeholder':'Confirmer votre mot de passe','class':'mot_de_passe' } }) }}
    </div>
    <div class="captcha">
    {{  form_widget(form.captcha )}}
    </div>
    <div class="checkbox_condition">
        <input type="checkbox" name="conditions" required>
        <label for="conditions"><p>J'ai lu et j'accepte les <a href="#">conditions d'utilisation</a> et la <a href="#"> politique de confidentialité</a>.</p></label>
    </div>

    <button type="submit" id="button_inscription">S'inscrire</button>

    <a class="lien_login" href="{{ path('user_profil') }}">Je suis déjà inscrit</a>

    {{ form_errors(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}