{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block body %}

    {{ form_start (form,{'action': path('app_register')}) }}

    <div>
        {{  form_label(form.email)}}
        {{  form_widget(form.email)}}
    </div>
    <div>
        {{  form_label(form.pseudo )}}
        {{  form_widget(form.pseudo )}}
    </div>
    <div>
        {{  form_label(form.firstname,'Prénom' )}}
        {{ form_widget(form.firstname )}}
    </div>
    <div>
        {{  form_label(form.lastname,'Nom' )}}
        {{  form_widget(form.lastname )}}
    </div>
    <div>
        {{  form_label(form.birthday,'Date de naissance' )}}
        {{ form_widget(form.birthday.day,   {'attr':{'placeholder':'Jour' } })}}
        {{ form_widget(form.birthday.month, {'attr':{'placeholder':'Mois' } })}}
        {{ form_widget(form.birthday.year,  {'attr':{'placeholder':'Année' } })}}
    </div>
    <div>
        {{  form_widget(form.password,{'type': 'password'} )}}
    </div>

    {{  form_widget(form.captcha )}}

    <div >
        <input type="checkbox" name="conditions" required>
        <label for="conditions"><p>J'ai lu et j'accepte les <a href="#">conditions d'utilisation</a> et la <a href="#"> politique de confidentialité</a>.</p></label>
    </div>

    <button type="submit">S'inscrire</button>
    {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}