
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/game.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div id="content-game">
    <div class="left-content" id="div1">
        <div class="titre-left">
            <h2>Plateau de départ</h2>
            <img src="{{ asset('img/banniere_gauche.png')}}" alt="">
        </div>
        <div id="div1-liens">
            <a  v-on:click = "nouvelle">Nouvelle partie</a>
            <a v-on:click = "reprendre">Reprendre une partie</a>
            <a v-on:click = "revanche">Demande de revanche</a>
            <a  v-on:click = "supr">Supprimer une partie en cours</a>
        </div>
        <a class="return_link" href="{{ path("user_profil") }}" >
            <p>Retour</p>
            <img src="{{ asset('img/ban_gauche.png')}}" alt="">
        </a>
    </div>

    <div class="left-content" id="div2">

        <div class="titre-left">
            <h2>Nouvelle Partie</h2>
            <img src="{{ asset('img/banniere_gauche.png')}}" alt="">
        </div>
        <br>
        <div class="choix_joueur mt-0">
            <div id="container" >
                <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 20px;margin-right: 30px">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="joueurs-tab" data-bs-toggle="tab" data-bs-target="#joueurs" type="button" role="tab" aria-controls="joueurs" aria-selected="true">Joueurs</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="amis-tab" data-bs-toggle="tab" data-bs-target="#amis" type="button" role="tab" aria-controls="amis" aria-selected="false">Amis</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ouvertes-tab" data-bs-toggle="tab" data-bs-target="#ouvertes" type="button" role="tab" aria-controls="ouvertes" aria-selected="false">En attente</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="joueurs" role="tabpanel" aria-labelledby="joueurs-tab">
                        <form class="form_choix_joueur" action="{{ path('create_game') }}" method="post">
                            <div class="joueurs-scroll">
                                    {% for user in users|filter(user => user.id != app.user.id) %}
                                        <div class="choix-joueur">
                                            <input type="radio" id="{{ user.id }}" name="user2" value="{{ user.id }}">
                                            <label for="{{ user.id }}">
                                                <img src="{{ asset('img/avatar/'~user.avatar)}}" width="80px">
                                                <div>
                                                    <p>{{ user.pseudo}}</p>
                                                    <p>Rang : {{  user.stats.rang}} Grade : {{ rangs[user.stats.grade] }}</p>
                                                </div>
                                            </label>
                                        </div>
                                    {% endfor %}
                            </div>
                            <button class="next_link" type="submit">
                                <p>Commencer la partie</p>
                                <img src="{{ asset('img/ban_droite.png')}}" alt="">
                            </button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="amis" role="tabpanel" aria-labelledby="amis-tab">
                        <form  class="form_choix_joueur" action="{{ path('create_game') }}" method="post">
                            <div class="joueurs-scroll">
                                {% for user in app.user.amis %}
                                    <div class="choix-joueur">
                                        <input type="radio" id="{{ tusers[user].id }}" name="user2" value="{{ tusers[user].id }}">
                                        <label for="{{ tusers[user].id }}">
                                            <img src="{{ asset('img/avatar/'~tusers[user].avatar)}}" width="80px">
                                            <div>
                                                <p>{{ tusers[user].pseudo}}</p>
                                                <p>Rang : {{  tusers[user].stats.rang}} Grade : {{ rangs[tusers[user].stats.grade] }}</p>
                                            </div>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="next_link" type="submit">
                                <p>Commencer la partie</p>
                                <img src="{{ asset('img/ban_droite.png')}}" alt="">
                            </button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="ouvertes" role="tabpanel" aria-labelledby="ouvertes-tab">
                        <div class="joueurs-scroll" >

                                {% for game in ouvertes %}
                                    <div class="choix-joueur-reprendre">
                                        <img src="{{ asset('img/avatar/'~game.user1.avatar)}}" width="80px">
                                        <div class="reprendre-content">
                                            <p>{{ game.user1.pseudo}}</p>
                                            <p>Rang : {{  game.user1.stats.rang}} Grade : {{ rangs[game.user1.stats.grade] }}</p>
                                             <a class="btn-secondary" href=" {{ path('join_game',{game: game.id}) }}">Rejoindre</a>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="return_link" v-on:click = "nouvelleRetour">
            <p>Retour</p>
            <img src="{{ asset('img/ban_gauche.png')}}" alt="">
        </a>

    </div>

    <div class="left-content" id="div3">
        <div class="titre-left">
            <h2 class="titre-left-9">Reprendre une partie</h2>
            <img src="{{ asset('img/banniere_gauche.png')}}" alt="">
        </div>
        <div class="choix_joueur" >
            <div class="joueurs-scroll">
                {% for game in en_cours %}
                    <div class="choix-joueur-reprendre">
                        {% if game.user1.id == app.user.id %}
                            <img src="{{ asset('img/avatar/'~game.user2.avatar)}}" width="80px">
                            <div class="reprendre-content">
                                <p>Crée le {{ game.created | date("m/d/Y") }} </p>
                                <p>{{ game.user2.pseudo }}</p>
                                <p>Rang : {{ game.user2.stats.rang }} Grade : {{ rangs[game.user2.stats.grade] }}</p>
                                <a class="btn-secondary" href="{{ path('show_game',{game: game.id}) }}">Reprendre</a>
                            </div>
                        {% else %}
                            <img src="{{ asset('img/avatar/'~game.user1.avatar)}}" width="80px">
                            <div class="reprendre-content">
                                <p>Crée le {{ game.created | date("m/d/Y") }} </p>
                                <p>{{ game.user1.pseudo }}</p>
                                <p>Rang : {{ game.user1.stats.rang }} Grade : {{ rangs[game.user1.stats.grade] }}</p>
                                <a class="btn-secondary" href="{{ path('show_game',{game: game.id}) }}">Reprendre</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="return_link" v-on:click = "reprendreRetour">
            <p>Retour</p>
            <img src="{{ asset('img/ban_gauche.png')}}" alt="">
        </a>
    </div>

    <div class="left-content" id="div4">
        <div class="titre-left">
            <h2 class="titre-left-9">Demander une revanche</h2>
            <img src="{{ asset('img/banniere_gauche.png')}}" alt="">
        </div>
        <div id="revanches" class="choix_joueur">
            <form class="form_choix_joueur" action="{{ path('create_game') }}" method="post">
                <div class="joueurs-scroll">
                {% for game in revanches %}

                    {% if game.user2.id == app.user.id %}
                    <div class="choix-joueur">
                        <input type="radio" id="{{ game.user1.id }}" name="user2" value="{{ game.user1.id }}">
                        <label for="{{ game.user1.id }}">
                            <img src="{{ asset('img/avatar/'~game.user1.avatar)}}" width="80px">
                            <div>
                                <p class="fin">Finie le {{ game.ended| date("m/d/Y") }}</p>
                                <p class="pseudo">{{ game.user1.pseudo}}</p>
                                <p class="rang">Rang : {{  game.user1.stats.rang}} Grade : {{ rangs[game.user1.stats.grade] }}</p>
                                {% if game.winner.id == app.user.id %}
                                    <p class="resultat">Gagné</p>
                                {% else %}
                                    <p class="resultat">Perdu</p>
                                {% endif %}
                            </div>
                        </label>
                    </div>
                    {% else %}
                    <div class="choix-joueur">
                        <input type="radio" id="{{ game.user2.id }}" name="user2" value="{{ game.user2.id }}">
                        <label for="{{ game.user2.id }}">
                            <img src="{{ asset('img/avatar/'~game.user2.avatar)}}" width="80px">
                            <div>
                                <p class="fin">Finie le {{ game.ended| date("m/d/Y") }}</p>
                                <p class="pseudo">{{ game.user2.pseudo}}</p>
                                <p class="rang">Rang : {{ game.user2.stats.rang }} Grade : {{ rangs[game.user2.stats.grade] }}</p>
                                {% if game.winner.id == app.user.id %}
                                    <p class="resultat">Gagné</p>
                                {% else %}
                                    <p class="resultat">Perdu</p>
                                {% endif %}
                            </div>
                        </label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="next_link" type="submit">
                    <p>Commencer la partie</p>
                    <img src="{{ asset('img/ban_droite.png')}}" alt="">
                </button>
            </form>
        </div>
        <a class="return_link" v-on:click = "revancheRetour">
            <p>Retour</p>
            <img src="{{ asset('img/ban_gauche.png')}}" alt="">
        </a>
    </div>

    <div class="left-content" id="div5">
        <div class="titre-left">
            <h2 class="titre-left-9">Supprimer une partie</h2>
            <img src="{{ asset('img/banniere_gauche.png')}}" alt="">
        </div>
        <div id="parties" class="choix_joueur">
            <div class="joueurs-scroll">
                {% for game in en_cours %}
                    <div class="choix-joueur-reprendre">
                        {% if game.user1.id == app.user.id %}
                            <img src="{{ asset('img/avatar/'~game.user2.avatar)}}" width="80px">
                            <div class="reprendre-content">
                                <p>Crée le {{ game.created | date("m/d/Y") }} </p>
                                <p>{{ game.user2.pseudo }}</p>
                                <p>Rang : {{ game.user2.stats.rang }} Grade : {{ rangs[game.user2.stats.grade] }}</p>
                                <a class="btn-secondary" href="{{ path('delete_game',{game: game.id}) }}">Supprimer la partie</a>
                            </div>
                        {% else %}
                            <img src="{{ asset('img/avatar/'~game.user1.avatar)}}" width="80px">
                            <div class="reprendre-content">
                                <p>Crée le {{ game.created | date("m/d/Y") }} </p>
                                <p>{{ game.user1.pseudo }}</p>
                                <p>Rang : {{ game.user1.stats.rang }} Grade : {{ rangs[game.user1.stats.grade] }}</p>
                                <a class="btn-secondary" href="{{ path('delete_game',{game: game.id}) }}">Supprimer la partie</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="return_link" v-on:click = "suprRetour">
            <p>Retour</p>
            <img src="{{ asset('img/ban_gauche.png')}}" alt="">
        </a>
    </div>



    <script>
        var div1 = new Vue({
            el: '#div1',
            data: {
                name: 'Vue.js'
            },
            // Définissez les méthodes de l'objet
            methods: {
                nouvelle: function () {
                    document.getElementById("div2").style.left = "0";
                    document.getElementById("div1").style.left = "-50%";
                },
                reprendre: function () {
                    document.getElementById("div3").style.left = "0";
                    document.getElementById("div1").style.left = "-50%";
                },
                revanche: function () {
                    document.getElementById("div4").style.left = "0";
                    document.getElementById("div1").style.left = "-50%";
                },
                supr: function () {
                    document.getElementById("div5").style.left = "0";
                    document.getElementById("div1").style.left = "-50%";
                }
            }
        });

        //---------------Nouvelle Partie---------------------------
        var div2 = new Vue({
            el: '#div2',
            data: {
                name: 'Vue.js'
            },
            // Définissez les méthodes de l'objet
            methods: {
                nouvelleRetour: function () {
                    document.getElementById("div2").style.left = "-50%";
                    document.getElementById("div1").style.left = "0";
                }
            }
        })

        //---------------Reprendre Partie---------------------------
        var div3 = new Vue({
            el: '#div3',
            data: {
                name: 'Vue.js'
            },
            // Définissez les méthodes de l'objet
            methods: {
                reprendreRetour: function () {
                    document.getElementById("div3").style.left = "-50%";
                    document.getElementById("div1").style.left = "0";
                }
            }
        })

        //---------------Revanche---------------------------
        var div4 = new Vue({
            el: '#div4',
            data: {
                name: 'Vue.js'
            },
            // Définissez les méthodes de l'objet
            methods: {
                revancheRetour: function () {
                    document.getElementById("div4").style.left = "-50%";
                    document.getElementById("div1").style.left = "0";
                }
            }
        })

        //---------------Supprimer Partie---------------------------
        var div5 = new Vue({
            el: '#div5',
            data: {
                name: 'Vue.js'
            },
            // Définissez les méthodes de l'objet
            methods: {
                suprRetour: function () {
                    document.getElementById("div5").style.left = "-50%";
                    document.getElementById("div1").style.left = "0";
                }
            }
        })
    </script>
</div>
{% endblock %}


