<div class="row">
    <div class="col-8">
        Cartes de l'adversaire
        {% for card in set.user2HandCards %}
            <img style="width:50px" src="{{ asset('img/card/'~cards[card].picture) }}">{{ cards[card].id }}
        {% endfor %}
    </div>
    <div class="col-4">
        Actions
    </div>
</div>
<div class="row">
    Plateau adversaire
</div>
<div class="row">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_1.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_2.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_3.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_4.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_5.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_6.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_7.png') }}">

</div>
<div class="row">
    Mon plateau
</div>
<div class="row">
    <div class="col-8">
        {% for card in set.user1HandCards %}
            <img style="width:50px" src="{{ asset('img/card/'~cards[card].picture) }}">
            {{ cards[card].id }}
            <input type="radio" name="carte_secret" value="{{ card }}"
                   style="display: none"
                   class="choixSecret">
        {% endfor %}
    </div>
    <div class="col-4">
        Mes Actions
        <button id="secret">Secret</button>
        <button  id="depot">Depot</button>
        <button  id="offre">Offre</button>
        <button  id="echange">Echange</button><br>
        <button id="valider" style="display: none">Valider action</button>
    </div>
</div>
