
<style>
    #mon_offre, #adv_offre, #mon_echange{
        position: absolute;
        width:  100%;
        height: 100%;
        display: block;
        z-index: 10;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ended{
        transition-duration: 0.5s;
        position: absolute;
        width:  100%;
        height: 100%;
        z-index: 10;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        padding: 0 !important;
        width: 100%;
    }
    .choix_carte, .ended_content{
        width: 50%;
        height: 60%;
        background-color: white;
    }

    .carte_top{
        width:120px; display: flex;flex-direction: column;
    }

    .carte_bottom{
        width:120px; display: flex;flex-direction: column;
    }

    .carte_bottom img:nth-child(2) {
        position:absolute;
        z-index: 2;
        margin-top: 10px;
    }
    .carte_bottom img:nth-child(3) {
        position:absolute;
        z-index: 3;
        margin-top: 20px;
    }
    .carte_bottom img:nth-child(4) {
        position:absolute;
        z-index: 4;
        margin-top: 30px;
    }
    .carte_bottom img:nth-child(5) {
        position:absolute;
        z-index: 5;
        margin-top: 40px;
    }

    .carte_top img:nth-child(2) {
        position:absolute;
        z-index: 2;
        margin-top: -10px;
    }
    .carte_top img:nth-child(3) {
        position:absolute;
        z-index: 3;
        margin-top: -20px;
    }
    .carte_top img:nth-child(4) {
        position:absolute;
        z-index: 4;
        margin-top: -30px;
    }
    .carte_top img:nth-child(5) {
        position:absolute;
        z-index: 5;
        margin-top: -40px;
    }

    .card_actions{
        width: 20%;
        margin: 1%;
    }

    .card{
        width: 80px;
        margin: 5px;
    }

    .card_plateau{
        width: 120px;
    }

    .card_main{
        width: 90px;
    }

    .jeton_victoire{
        width:32px;
        margin-left:45px;
        margin-right: 45px;
        display: none;
    }

    .discover{
        transition-duration: 1s
    }
    .jeton_bas{
       padding-top: 95px;
        transition-duration: 1s
    }

    .jeton_haut{
        padding-bottom: 95px;
        transition-duration: 1s
    }

</style>


    <div id="ended" style="display: none">
        <div class="ended_content" style="display: flex;align-items: center; flex-direction: column;justify-content: center">
            <h1>La manche est finie</h1>

                <p id="end_msg"></p>
                <button style="display: none" id="next_manche">Rejoindre la nouvelle manche</button>
                <a href="{{ path('new_game') }}">Retour</a>


        </div>
    </div>


{% if moi.actions['OFFRE']==true and moi.actions['OFFRE']!= "done"%}
<div id="mon_offre">
    <div class="choix_carte" style="display: flex;align-items: center; flex-direction: column;justify-content: center">
        <p>L'adversaire est en train de choisir une carte </p>
        <div class="d-flex justify-content-center align-items-center">
            <img class="card_actions" src="{{ asset('img/card/'~cards[moi.actions['OFFRE'][0]].picture ) }}">
            <img class="card_actions" src="{{ asset('img/card/'~cards[moi.actions['OFFRE'][1]].picture ) }}">
            <img class="card_actions" src="{{ asset('img/card/'~cards[moi.actions['OFFRE'][2]].picture ) }}">
        </div>
    </div>
</div>
{% endif %}

{% if moi.actions['ECHANGE']==true and moi.actions['ECHANGE']!= "done"%}
    <div id="mon_echange">
        <div class="choix_carte" style="display: flex;align-items: center; flex-direction: column;justify-content: center">
            <p>L'adversaire est en train de choisir une carte </p>
            <div class="d-flex justify-content-center align-items-center">
                <img class="card_actions" src="{{ asset('img/card/'~cards[moi.actions['ECHANGE'][0][0]].picture ) }}">
                <img class="card_actions" src="{{ asset('img/card/'~cards[moi.actions['ECHANGE'][0][1]].picture ) }}">
                <img class="card_actions" src="{{ asset('img/card/'~cards[moi.actions['ECHANGE'][1][0]].picture ) }}">
                <img  class="card_actions" src="{{ asset('img/card/'~cards[moi.actions['ECHANGE'][1][1]].picture ) }}">
            </div>
        </div>
    </div>
{% endif %}


{% if adversaire.actions['OFFRE']==true and adversaire.actions['OFFRE']!="done" %}
    <div id="adv_offre">
        <div class="choix_carte" style="display: flex;align-items: center; flex-direction: column;justify-content: center">
            <p>Choississez une de ces cartes </p>
            <div class="d-flex justify-content-center align-items-center">
                <img class="card_actions"  src="{{ asset('img/card/'~cards[adversaire.actions['OFFRE'][0]].picture ) }}">
                <input type="radio"  name="carte_offre"  value="{{ adversaire.actions['OFFRE'][0]}}">
                <img class="card_actions" src="{{ asset('img/card/'~cards[adversaire.actions['OFFRE'][1]].picture ) }}">
                <input type="radio"  name="carte_offre"  value="{{ adversaire.actions['OFFRE'][1]}}">
                <img class="card_actions" src="{{ asset('img/card/'~cards[adversaire.actions['OFFRE'][2]].picture ) }}">
                <input type="radio"  name="carte_offre"  value="{{ adversaire.actions['OFFRE'][2] }}">
            </div>
            <button id="valid_offre">Choisir la carte</button>
        </div>
    </div>
{% endif %}

{% if adversaire.actions['ECHANGE']==true and adversaire.actions['ECHANGE']!="done" %}
    <div id="adv_offre">
        <div class="choix_carte" style="display: flex;align-items: center; flex-direction: column;justify-content: center">
            <p>Choississez une de ces pairs de cartes </p>
            <div class="d-flex justify-content-center align-items-center">
                <img class="card_actions"  src="{{ asset('img/card/'~cards[adversaire.actions['ECHANGE'][0][0]].picture ) }}">
                <img class="card_actions" src="{{ asset('img/card/'~cards[adversaire.actions['ECHANGE'][0][1]].picture ) }}">
                <input type="radio"  name="carte_echange"  value='firstpair'>
                <img class="card_actions"  src="{{ asset('img/card/'~cards[adversaire.actions['ECHANGE'][1][0]].picture ) }}">
                <img class="card_actions" src="{{ asset('img/card/'~cards[adversaire.actions['ECHANGE'][1][1]].picture ) }}">
                <input type="radio"  name="carte_echange"  value='secondpair'>
            </div>
            <button id="valid_echange">Choisir ces deux cartes</button>
        </div>
    </div>
{% endif %}


<div id="game_content">
    <div class="row">
        <div class="col-2">
            {% if player == null  %}
                <p>En attente d'un adversaire</p>
            {% else %}
                <img width="100px" src="{{ asset('img/avatar/'~player.avatar) }}">
                <p style="font-size: 20px">{{ player.pseudo }}</p>
            {% endif %}
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center" style="margin-top: -5%">
            <div id="adversaires_cartes" class="d-flex justify-content-center align-items-center">
                {% for card in adversaire.handCards %}
                    <img class="card" src="{{ asset('img/plateau/verso_carte.png') }}">
                {% endfor %}
            </div>
        </div>

        <div class="col-2" style="display:flex;justify-content: center;align-items: center">
            {% if adversaire.actions['SECRET']==true and adversaire.actions['SECRET']!="done"%}
                <div style="text-align: center;display:flex;justify-content: center;align-items: center;margin-right: 50px" class="carte_secret">
                    <img style="width:90px;position: absolute;z-index: 0" src="{{ asset('img/plateau/verso_carte.png')}}">
                    <img style="width:60px;position:relative;z-index:1;" src="{{ asset('img/plateau/action1_1.png')}}">
                </div>
            {% endif %}
            {% if adversaire.actions['DEPOT']==true %}
                <div style="text-align: center;display:flex;justify-content: center;align-items: center;">
                    <img style="width:98px;position: absolute;z-index: 0" id="depot_carte "  class="" src="{{ asset('img/plateau/verso_carte_double.png')}}">
                    <img style="width:60px;position:relative;z-index:1;" id="depot_action" src="{{ asset('img/plateau/action1_2.png')}}">
                </div>
            {% endif %}
        </div>

        <div class="col-2">
            <div class="actions" >
                Actions de l'adversaire
                <div class="d-inline-flex">
                    {% if adversaire.actions['SECRET']==false %}
                        <img id=""  width="90px"  src="{{ asset('img/plateau/action2_1.png') }}">
                    {% else %}
                        <div style="width: 90px; height: 55px"></div>
                    {% endif %}
                    {% if adversaire.actions['DEPOT']==false %}
                        <img id=""  width="90px" src="{{ asset('img/plateau/action2_2.png') }}">
                    {% else %}
                        <div style="width: 90px; height: 55px"></div>
                    {% endif %}
                </div>
                <div class="d-inline-flex ">
                    {% if adversaire.actions['OFFRE']==false %}
                        <img id="" width=90px" src="{{ asset('img/plateau/action2_3.png') }}">
                    {% else %}
                        <div style="width: 90px; height: 55px"></div>
                    {% endif %}
                    {% if adversaire.actions['ECHANGE']==false %}
                        <img id=""   width="90px" src="{{ asset('img/plateau/action2_4.png') }}">
                    {% else %}
                        <div style="width: 90px; height: 55px"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="carte_top" id="adv_jambe" >
            {% for card in adversaire.board['jambe'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_1.png') }}">
            {% endfor %}
        </div>
        <div class="carte_top" id="adv_balais" >
            {% for card in adversaire.board['balais'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_2.png') }}" >

            {% endfor %}
        </div>
        <div class="carte_top"  id="adv_rhum">

            {% for card in adversaire.board['rhum'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_3.png') }}" >

            {% endfor %}

        </div>
        <div class="carte_top" id="adv_perroquet" >
            {% for card in adversaire.board['perroquet'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_4.png') }}">
            {% endfor %}
        </div>
        <div class="carte_top" id="adv_longuevue">
            {% for card in adversaire.board['longuevue'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_5.png') }}">
            {% endfor %}
        </div>
        <div class="carte_top" id="adv_boulet">
            {% for card in adversaire.board['boulet'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_6.png') }}">
            {% endfor %}
        </div>
        <div class="carte_top" id="adv_sabre">
            {% for card in adversaire.board['sabre'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_7.png') }}">
            {% endfor %}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class=" d-flex justify-content-center align-items-center" style="position: absolute;z-index: 1; margin-top: 15px;height:130px ">
            <div >
                <img class="jeton_victoire"  id="victoire_jambe"  src="{{ asset('img/plateau/jeton_victoire.png') }}" >
            </div>
            <div >
                <img class="jeton_victoire" id="victoire_balais" src="{{ asset('img/plateau/jeton_victoire.png') }}" >
            </div>
            <div>
                <img class="jeton_victoire"  id="victoire_rhum" src="{{ asset('img/plateau/jeton_victoire.png') }}" >
            </div>
            <div>
                <img class="jeton_victoire"  id="victoire_perroquet" src="{{ asset('img/plateau/jeton_victoire.png') }}" >
            </div>
            <div>
                <img class="jeton_victoire"  id="victoire_longuevue" src="{{ asset('img/plateau/jeton_victoire.png') }}" >
            </div>
            <div>
            <img class="jeton_victoire"  id="victoire_boulet" src="{{ asset('img/plateau/jeton_victoire.png') }}" >
            </div>
            <div>
            <img class="jeton_victoire"  id="victoire_sabre" src="{{ asset('img/plateau/jeton_victoire.png') }}" >
            </div>

        </div>
        <div class="row d-flex justify-content-center " style="margin-bottom: 10px;margin-top: 10px">
            <img class="card_plateau" src="{{ asset('img/plateau/carte_plateau_1.png') }}">
            <img class="card_plateau" src="{{ asset('img/plateau/carte_plateau_2.png') }}">
            <img class="card_plateau" src="{{ asset('img/plateau/carte_plateau_3.png') }}">
            <img class="card_plateau" src="{{ asset('img/plateau/carte_plateau_4.png') }}">
            <img class="card_plateau" src="{{ asset('img/plateau/carte_plateau_5.png') }}">
            <img class="card_plateau" src="{{ asset('img/plateau/carte_plateau_6.png') }}">
            <img class="card_plateau" src="{{ asset('img/plateau/carte_plateau_7.png') }}">

        </div>
    </div>
    <div class="row d-flex justify-content-center" >
        <div class="carte_bottom" id="moi_jambe" >
            {% for card in moi.board['jambe'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_1.png') }}">
            {% endfor %}
        </div>
        <div class="carte_bottom" id="moi_balais" >
            {% for card in moi.board['balais'] %}
               <img class="card_main" src="{{ asset('img/card/carte_main_2.png') }}" >
            {% endfor %}
        </div>
        <div class="carte_bottom" id="moi_rhum">
            {% for card in moi.board['rhum'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_3.png') }}">
            {% endfor %}
        </div>
        <div class="carte_bottom" id="moi_perroquet" >
            {% for card in moi.board['perroquet'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_4.png') }}">
            {% endfor %}
        </div>
        <div class="carte_bottom" id="moi_longuevue">
            {% for card in moi.board['longuevue'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_5.png') }}">
            {% endfor %}
        </div>
        <div class="carte_bottom" id="moi_boulet" >
            {% for card in moi.board['boulet'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_6.png') }}">
            {% endfor %}
        </div>
        <div class="carte_bottom" id="moi_sabre">
            {% for card in moi.board['sabre'] %}
                <img class="card_main" src="{{ asset('img/card/carte_main_7.png') }}">
            {% endfor %}
        </div>

    </div>
    <div class="row">
        <div class="col-2">
            <img width="100px" src="{{ asset('img/avatar/'~app.user.avatar) }}">
            <p style="font-size: 20px">{{ app.user.pseudo }}</p>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center" >
            <div id="mes_cartes" class="d-flex justify-content-center align-items-center">
                {% for card in moi.handCards %}
                    <img class="card" src="{{ asset('img/card/'~cards[card].picture) }}">
                    <input type="checkbox"  name="carte_secret"  value="{{ card }}"
                           style="display: none"
                           class="choixSecret">
                {% endfor %}
            </div>
        </div>
        <div class="col-2" style="display:flex;justify-content: center;align-items: center">
            {% if moi.actions['SECRET']==true and moi.actions['SECRET']!="done" %}
                <div style="text-align: center;display:flex;justify-content: center;align-items: center;margin-right: 50px" class="carte_secret">
                    <img style="width:90px;position: absolute;z-index: 0" src="{{ asset('img/plateau/verso_carte.png')}}">
                    <img style="width:60px;position:relative;z-index:1;" src="{{ asset('img/plateau/action1_1.png')}}">
                </div>
            {% endif %}
            {% if moi.actions['DEPOT']==true %}
                <div style="text-align: center;display:flex;justify-content: center;align-items: center;">
                    <img style="width:98px;position: absolute;z-index: 0" id="depot_carte "  class="" src="{{ asset('img/plateau/verso_carte_double.png')}}">
                    <img style="width:60px;position:relative;z-index:1;" id="depot_action" src="{{ asset('img/plateau/action1_2.png')}}">
                </div>
            {% endif %}
        </div>
        <div class="col-2" >
            Mes Actions | Manche {{ set.setnumber }}
            <div class="actions" >
                <div class="d-inline-flex ">
                {% if moi.actions['SECRET']==false %}
                    <img id="secret"  style="cursor: pointer;width:90px" src="{{ asset('img/plateau/action1_1.png') }}">
                {% else %}
                    <div style="width: 90px; height: 55px"></div>
                {% endif %}
                {% if moi.actions['DEPOT']==false %}
                    <img id="depot"  style="cursor: pointer;width:90px" src="{{ asset('img/plateau/action1_2.png') }}">
                {% else %}
                    <div style="width: 90px; height: 55px"></div>
                {% endif %}
                </div>
                <div class="d-inline-flex " >
                    {% if moi.actions['OFFRE']==false %}
                        <img  id="offre"  style="cursor: pointer;width:90px" src="{{ asset('img/plateau/action1_3.png') }}">
                    {% else %}
                        <div style="width: 90px; height: 55px;margin:0 !important; "></div>
                    {% endif %}
                    {% if moi.actions['ECHANGE']==false %}
                        <img id="echange"  style="cursor: pointer;width:90px" src="{{ asset('img/plateau/action1_4.png') }}">
                    {% endif %}
                </div>
            </div>

            <br>
            <div class="d-flex flex-column justify-content-center align-items-center" style="flex-wrap: wrap">
            <button id="valider" class="btn-tercary" style="display: none;margin-bottom: 10px">Valider action</button>
            <div id="game_help">
            </div>
            <button id="finDeTour" class="btn-secondary" disabled>Fin de tour</button>
            </div>

        </div>

    </div>
    <div class="row d-flex flex-column justify-content-center align-items-center" style="width:90vw">
        <p id="action_message" style="text-align: center"></p>
        <p id="aide" style="text-align: center;width: 700px"></p>

    </div>
</div>