<div class="row">
    <div class="col-6">
        {% for card in adversaire.handCards %}
            <img style="width:80px" src="{{ asset('img/plateau/verso_carte.png') }}">
        {% endfor %}
    </div>

    <div class="col-4" style="display:flex;justify-content: center;align-items: center">
        {% if adversaire.actions['SECRET']==true %}
            <div style="text-align: center;display:flex;justify-content: center;align-items: center;margin-right: 50px">
                <img style="width:90px;position: absolute;z-index: 0" src="{{ asset('img/plateau/verso_carte.png')}}">
                <img style="width:60px;position:relative;z-index:1;" src="{{ asset('img/plateau/action1_1.png')}}">
            </div>
        {% endif %}
        {% if adversaire.actions['DEPOT']==true %}
            <div style="text-align: center;display:flex;justify-content: center;align-items: center;">
                <img style="width:98px;position: absolute;z-index: 0" id="depot_carte "  class="" src="{{ asset('img/plateau/verso_carte_double.png')}}">
                <img style="width:60px;position:relative;z-index:1;" id="depot_action" src="{{ asset('img/plateau/action1_2.png')}}">
            </div>
        {% endif %}
    </div>

    <div class="col-2">
        <div class="actions" style="display: flex;flex-wrap: wrap">
            Actions de l'adversaire
            {% if adversaire.actions['SECRET']==false %}
                <img id=""  width="90px"  src="{{ asset('img/plateau/action2_1.png') }}">
            {% else %}
                <div style="width: 90px; height: 55px"></div>
            {% endif %}
            {% if adversaire.actions['DEPOT']==false %}
                <img id=""  width="90px" src="{{ asset('img/plateau/action2_2.png') }}">
            {% else %}
                <div style="width: 90px; height: 55px"></div>
            {% endif %}
            {% if adversaire.actions['OFFRE']==false %}
                <img id="" width=90px" src="{{ asset('img/plateau/action2_3.png') }}">
            {% else %}
                <div style="width: 90px; height: 55px"></div>
            {% endif %}
            {% if adversaire.actions['ECHANGE']==false %}
                <img id=""   width="90px" src="{{ asset('img/plateau/action2_4.png') }}">
            {% else %}
                <div style="width: 90px; height: 55px"></div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    Plateau adversaire
</div>
<div class="row">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_1.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_2.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_3.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_4.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_5.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_6.png') }}">
    <img style="width:100px" src="{{ asset('img/plateau/carte_plateau_7.png') }}">

</div>
<div class="row">
    Mon plateau
</div>
<div class="row">
    <div class="col-6" id="mes_cartes">
        {% for card in moi.handCards %}
            <img style="width:80px" src="{{ asset('img/card/'~cards[card].picture) }}">
            <input type="checkbox"  name="carte_secret"  value="{{ card }}"
                   style="display: none"
                   class="choixSecret">
        {% endfor %}
    </div>
    <div class="col-4" style="display:flex;justify-content: center;align-items: center">
        {% if moi.actions['SECRET']==true %}
            <div style="text-align: center;display:flex;justify-content: center;align-items: center;margin-right: 50px">
                <img style="width:90px;position: absolute;z-index: 0" src="{{ asset('img/plateau/verso_carte.png')}}">
                <img style="width:60px;position:relative;z-index:1;" src="{{ asset('img/plateau/action1_1.png')}}">
            </div>
        {% endif %}
        {% if moi.actions['DEPOT']==true %}
            <div style="text-align: center;display:flex;justify-content: center;align-items: center;">
                <img style="width:98px;position: absolute;z-index: 0" id="depot_carte "  class="" src="{{ asset('img/plateau/verso_carte_double.png')}}">
                <img style="width:60px;position:relative;z-index:1;" id="depot_action" src="{{ asset('img/plateau/action1_2.png')}}">
            </div>
        {% endif %}
    </div>
    <div class="col-2" >
        Mes Actions
        <div class="actions" style="display: flex;flex-wrap: wrap">
            {% if moi.actions['SECRET']==false %}
                <img id="secret"  style="cursor: pointer;width:90px" src="{{ asset('img/plateau/action1_1.png') }}">
            {% else %}
                <div style="width: 90px; height: 55px"></div>
            {% endif %}
            {% if moi.actions['DEPOT']==false %}
                <img id="depot"  style="cursor: pointer;width:90px" src="{{ asset('img/plateau/action1_2.png') }}">
            {% else %}
                <div style="width: 90px; height: 55px"></div>
            {% endif %}
            {% if moi.actions['OFFRE']==false %}
                <img id="offre"  style="cursor: pointer;width:90px" src="{{ asset('img/plateau/action1_3.png') }}">
            {% else %}
                <div style="width: 90px; height: 55px"></div>
            {% endif %}
            {% if moi.actions['ECHANGE']==false %}
                <img id="echange"  style="cursor: pointer;width:90px" src="{{ asset('img/plateau/action1_4.png') }}">
            {% endif %}
        </div>

        <br>
        <button id="valider" style="display: none">Valider action</button>
        <button id="finDeTour" disabled>Fin de tour</button>
    </div>


</div>

