{% extends 'base.html.twig' %}

{% block body %}
    <style>

        #overlay {
            position:absolute;
            bottom:0;
            display: block; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 80%; /* Full height (cover the whole page) */
            background-color: rgba(0,0,0,0); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

    </style>

    <div id="plateau">
        {{ render(controller('App\\Controller\\GameController::refreshPlateauGame', {game:game.id})) }}
    </div>
    <div id="message">...</div>

    <div id="overlay"></div>



{% endblock %}

{% block title %}

{% endblock %}
{% block javascripts %}
    <script>
        var fintour=0;
        let boucle
        $(document).ready(function(){
            boucle = setInterval(refreshGame, 3000);

        })

        fin=setInterval(function (){
            if(fintour==1) {
                document.getElementById("finDeTour").disabled = false;
            }
        },3000)

        $(document).on('click', '#finDeTour', function() {
            $.ajax({
                url: "{{ path('change_player', {game: game.id}) }}",
                success: function(data) {
                    if (data == true) {
                        fintour=0
                        document.getElementById("finDeTour").disabled = true;
                        boucle = setInterval(refreshGame, 3000);
                        document.getElementById("overlay").style.display = "block";

                    }
                },
                error: function(){

                }
            })
        })

        $(document).on('click', '#depot', function() {
            pioche()
        })

        function refreshGame() {
            $.ajax({
                url: "{{ path('get_tour', {game: game.id}) }}",
                success: function(data) {
                    console.log(data)
                    if (data == false) {
                        $('#message').html('A votre adversaire de jouer')
                    } else {
                        clearInterval(boucle)
                         $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        $('#message').html('A vous de jouer')
                        document.getElementById("overlay").style.display = "none";
                        checkLoading = setInterval(function (){
                            if ( $('#plateau').html().length == 0 ) {
                                console.log('0');
                            }else{
                                clearInterval(checkLoading)
                                pioche()

                            }
                        },1000)


                    }
                },
                error: function(){

                }
            })

        }
         function pioche(){
            $.ajax({
                url: "{{ path('pioche', {game: game.id}) }}",
                success: function (carte) {
                    console.log('pioche :', carte);
                    if (carte != true){
                    document.getElementById("mes_cartes").innerHTML += "<img id='new_card' src=\"../../img/card/" + carte[1] + "\" style=\"width:50px\"/><input type='radio' value=" + carte[0] + " style='display: none' class='choixSecret' name='carte_secret' >";
                    $('#new_card').hide()
                    $('#new_card').fadeIn(1000)
                }
                },
                error: function(){

                }
            })
        }

        async function asyncCall() {
            console.log('calling');
            const result = await pioche();
            console.log(result);
            // expected output: "resolved"
        }

        let action
        $(document).on('click', '#secret', function(){
            console.log('secret')
            action = 'secret' //mémorise l'action en cours
            $('.choixSecret').show()
            $('#valider').show()
        })

        $(document).on('click', '#valider', function(){
            switch (action) {
                case 'secret':
                    donneesAction = {
                        action: 'secret',
                        carte: $('input[name="carte_secret"]:checked').val()
                    }

                    break;
                case 'depot':

                    break;
                case 'offre':

                    break;
                case 'echange':

                    break;
            }

            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {
                    if (data == true) {
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        fintour=1;

                    }
                },
                error: function(){

                }
            })

        })

    </script>
{% endblock %}


