<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/modify_profil.css') }}" />
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        {% endblock %}
    </head>
    <body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('new_game') }}" class="navbar-brand d-flex align-items-center">
                    {% else %}
                    <a href="{{ path('app_login') }}" class="navbar-brand d-flex align-items-center">
                        {% endif %}
                    <strong>Jeu</strong>
                </a>
                <span class="text-white">
                {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                    Bonjour {{ app.user.firstName }}. <a href="{{ path('app_logout') }}">Me déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Me connecter</a>
                {% endif %}
                    </span>
            </div>
        </div>
    </header>
    <main class="container">
        {% block body %}{% endblock %}
    </main>
    </body>
</html>
